.html {
  height: 100vh;
  width: 100vh;
 

}
.main{
  display: grid;
  grid-template-columns: 200px auto;
  height: 100vh;
 
}

.mainblock{
  background-color: 	#d9cab2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar{
  display: grid;
  background-color: 	#9b6a5b;
}

.stickysidebar{
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: 100px auto;
  
  padding: 20px;
  height: 744px;
}

.header{
  position: sticky;
  top: 0;
  height: 80px;
  background-color: 	#9b6a5b;
  display: grid;
  grid-template-rows: auto auto;
  width: 95%;
  border-bottom-right-radius: 25px;
  margin-bottom: 30px;
  border-bottom: 5px inset	#613a2b;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 20px;
}

.header-top{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto ;  
}

.search{
  grid-column-start: 1;
  grid-column-end: 2;
  width: 283px;
}


.search input[type=text] {
  padding: 7px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 17px;
}

.search  button {
  float: right;
  padding: 5px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header-bottom{
  display: flex;
  flex-direction: row;
}


.block{
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  width: 85%;
}

.recipe{
  padding: 20px;
}

.name{
  font-size: 20px;
  color: #613a2b;
}

.tags{
  color: #b69d7f;
}


.recipeblock{
  background-color: #cbb397;
  margin: 10px;
  border-radius: 15px;
  transition: background-color 1s;
  cursor: pointer;
  overflow: hidden;
  color: #987754;
}

.type{
  color: 	#4f2e20;
}

.typestag{
  overflow-y: auto;
  height: 400px;
  cursor: pointer;
  color: 	#613a2b;
  
}

.typestag::-webkit-scrollbar {
    display: none; 
}

.recipeblock:hover {
  background-color: #957C62;
  color: #4f2e20;
}

.home{
  cursor: pointer;
  color: 	#4f2e20;
}

.fullrecipe{
  display: none;
  width: 85%;
  background-color: #cbb397;
  padding: 20px;
  border-radius: 15px;
}

.fullblock{
  display: grid;
  grid-template-rows: auto auto;
}

.ingandins{
  display: grid;
  grid-template-columns: 50% 50%;
}

.instructions{
  text-wrap: pretty;
}

.cozy{
  font-size: 30px;
}

.logo{
  padding-top: 10px;
}

* {
 font-family: Arial;
}











