.html {
  height: 100%;
  width: 100%;
}

.main{
  background-color: red;
  height: 100%;
  width: 100%;
}
.header{
  position: sticky;
  top: 0;
  padding: 20px;
  height: 80px;
  align-content: center;
}

.logo{
  display: flex;
  flex-direction: row;
  align-content: center;

}

.header-buttons{
 display: grid;
  grid-template-columns: auto auto;


}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}